/* allow for cursor on items */
.cursor-pointer {
  cursor: pointer;
}

/* generic hover class for hover */
.hover:hover {
  filter: brightness(0.95);
  cursor: pointer;
}

/* make text input boostrappy */
.input-text {
  @extend .form-control;
  border-radius: $border-radius;
}

/* make select boxes boostrappy */
select,
.custom-select {
  @extend .form-select;
}

/* fix select2 autocomplete dropdowns */
.select2-selection {
  min-height: 45px;
  padding: $input-padding-y $input-padding-x;
  @extend .form-select;
  // padding: $input-padding-y 0;
}
// fix border color and padding on select2 wrapper
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: unset;
  padding-right: unset;
  line-height: normal;
}
span.select2-selection.select2-selection {
  min-height: 40px;
  padding: $input-padding-y $input-padding-x;
  border: $form-select-border-width solid $form-select-border-color;
}

// hide select2 carat and selection clear in favor of bs carat
.select2-container--default b[role="presentation"],
.select2-container--default .select2-selection__clear {
  display: none;
}
// fix highlighted option color to match bs primary
.select2-container--default
  .select2-results__option--highlighted[aria-selected],
.select2-container--default
  .select2-results__option--highlighted[data-selected] {
  background-color: $primary;
}

/* fix alignment on labels for radios, checkboxes */
label {
  margin-top: 0.25rem;
  @extend .form-check-label;
}


/* menus - remove bullets */
ul.menu,
ol.menu {
  list-style-type: none;
  padding-left: 0;
}
